<!--<form (ngSubmit)="onSubmit()" [formGroup]="form">

    <input type="text" formControlName = 'name'>
    <input type="text" formControlName = 'email'>
    <button type="submit">dale</button>
</form>-->


<a href="https://slack.com/oauth/authorize?scope=channels%3Aread+channels%3Ahistory+chat%3Awrite%3Auser+chat%3Awrite%3Abot+channels%3Aread+channels%3Awrite+groups%3Awrite+mpim%3Awrite+im%3Awrite&client_id=242800904082.242306321777"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>


